body {
  font-family: Oxanium, sans-serif;
  background-color: #0d0d2b;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*  */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
.ch:focus {
  background-color: #2b076e;
}
.news {
  background-image: url(../src/assets/newsletter-box.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
li:hover {
  color: rgb(96 165 250);
  transition: all 400ms ease-out;
  cursor: pointer;
  transform: scale(1.05);
}
