body {
  font-family: Oxanium, sans-serif;
  background-color: #0d0d2b;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*  */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
.ch:focus {
  background-color: #2b076e;
}
